*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
/*#4fc4f7*/
html{
    position: fixed;
    inset: 0;
}
body{
    position: fixed;
    inset: 0;
    background: #4fc4f7
}

@media (orientation: portrait) {
    body{
        background: linear-gradient(
                to bottom,
                #4fc4f7 50%,
                #bf360c 50%
        );
    }
}

.canvas-container{
    position: relative;
}